*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins" ;
    width: 100%;
    color: #fff;
    text-transform: capitalize;
}
  
body{
    background-color:black; 
    display: flex;
    justify-content: center;
}

#con{
    display: none;
}

#myimage{
    display: none;
}

li:hover{
    border: none;
    border-radius: 24px;
    animation-name: images;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease;
}

main{
    width: 100%;
    background-color:black;
    border-radius: 24px;
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head{
    margin: 7% 0 9% 0;
    width: 76%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav  ul{
    display: flex;
    justify-content: space-between;
}

 ul li{
    text-align: center;
    list-style: none;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 15%;
    background-color: lawngreen;
    box-shadow: -3px -3px 20px rgba(145, 50, 50, 0.09),3px 3px 25px rgba(204, 69, 69, 0.25);
}

 ul li:hover{
    background-color: rgb(255, 51, 177);
}

a{
    text-transform: capitalize;
    color:#ffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.375em;
}

.myprofile{
    height: 70%;
    width: 60%;
    border-radius: 40%;
    /* box-shadow:12px 12px 30px rgba(0, 0, 0, 0.25),-2px -2px 40px rgba(255, 255, 255, 0.101); */
}

#myp{
    margin-top: 10%;
    width: auto;
    height: auto;
    margin-bottom: 10%;
}

#pp .back{
    width: 100%;
     height: 100%;
}

.myprofile2{ 
    height: 100%;
    width:100%;
    border-radius: 50%;
    box-shadow:12px 12px 30px rgba(0, 0, 0, 0.25),-2px -2px 40px rgba(255, 255, 255, 0.101);
}

#texts{
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#te1{
    font-size: 2.375em;
    color: red;
    /* border-color: white; */
    font-weight: 400;
}

#te2{
    font-size: 3.0em;
    color: #fff;
    font-weight: 600;
}

#te3{
    width: 90%;
    margin-top: 2%;
    font-size: 1.313em;
    color: #ffffffbd;
    font-family: "poppins";
    font-weight: 400;
}

#myText{
    color: #fff;
    font-size: 38px;
    font-weight: 900;
    justify-content: center;
}

#remove{
    color:rgba(35, 39, 50, 1) ;
}

.y{
    color: purple;
    font-size: 38px;
    font-weight: 400;
}

#texts ul{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#texts .li{
    margin-right: 7%;
    width: 30%;
}

#mee{
    text-align: center;
    display: flex;
    width: 76%;
    justify-content: space-between;
}

#teext{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

#teext h2{
    color: rgb(255, 51, 194);
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
} 

#teext{
    font-size: 1.325em;
}

.p2{
    display: none;
}

#three{
    margin: 9% 0 9% 0;
    width: 76%;
    display: flex;
    flex-direction: column;
}

.flip-container {
    width: auto;
    perspective: 1000;
    background: transparent;
    display: flex;
    align-items: center;
}

.flip-container,
.back,
img #myProfile{
    width: 25%;
     height: 25%;
 }
.flipper {
    transition: 1.5s;
    transform-style: preserve-3d;
    position: relative;
    width: auto;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
} 

.back {
    transform: rotateY(180deg);
    background:transparent;
    height: 100%;
    width: 100%;
}

#html{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#css{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jvs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tsc{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ski{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2.125em;
    font-weight:bold;
    margin-bottom: 2%;
}
#hr{
    width: 100%;
    display: flex;
}
.hrp{
    width: 100%;
    display: flex;
}
#onehr{
    border: 2px solid red;
    border-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:25% ;
}
#twohr{
    border: 2px solid white;
    border-radius: 33px;
    width:75% ;
}
#hr1{
    width: 100%;
    display: flex;
}
#onehr1{
    border: 2px solid red;
    border-radius: 33px;
    width:50% ;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#twohr1{
    border: 2px solid white;
    border-radius: 33px;
    width:50% ;
}
#hr2{
    width: 100%;
    display: flex;
}
#onehr2{
    border: 2px solid red;
    border-radius: 33px;
    width:75% ;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#twohr2{
    border: 2px solid white;
    border-radius: 33px;
    width:25% ;
}
#hr3{
    width: 100%;
    display: flex;
}
#onehr3{
    border: 2px solid red;
    border-radius: 33px;
    width:100% ;
}
#onehr4{
    border: 2px solid red;
    border-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:33.3% ;
}
#twohr4{
    border: 2px solid white;
    border-radius: 33px;
    width:66.6% ;
}


#hr6{
    width: 100%;
    display: flex;
}
.html{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image img{
    width: 100%;
    height: 100%;
}
.image .fa-solid{
    border-radius: 10px;
    padding: 25px 10px 25px 10px;
    background-color: rgba(35, 39, 50, 1);
    box-shadow:inset -3px -3px 10px rgba(255, 255, 255, 0.1),inset 3px 3px 10px rgba(255, 255, 255, 0.1);
}
.image .fa-2xs{
    display: none;
}
.image .fa-sm{
    display: none;
}
.btn{
    width: auto;
}
.t{
    display: flex;
    justify-content: center;
}
#ht{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: red;
    width: 25%;
    border-radius: 30px;
}
#cs{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: red;
    width: 25%;
    border-radius: 30px;
}
#js{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: red;
    width: 25%;
    border-radius: 30px;
}
#ts{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: red;
    width: 25%;
    border-radius: 30px;
}
.rotate{
    rotate: 180deg;
}

#imgFour{
    margin-top: 12.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#imgFou{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.rem{
    display: flex;
    justify-content: center;
}
#imgrem2{
    justify-content: end;
    width: 25%;
}
#imgrem1{
    justify-content: start;
    width: 25%;
}
#imgrem3{
    width: 50%;
}
#imgFour img{
    height:100%;
    width: 90%;
    border-radius: 7%;
}
#imgFour #b{
    width:90% ;
    height: 100%;
}
#project{
    margin: 0 0 9% 0;
    width: 76%;
    display: flex;
}
#pro{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pro2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prohr{
    border: 2px solid rgba(119, 51, 255, 1);
    border-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:20% ;
}
#prohrr{
    border: 2px solid rgba(247, 162, 30, 1);
    border-radius: 33px;
    width:80% ;
}

#prohr1{
    border: 2px solid rgba(119, 51, 255, 1);
    border-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:40% ;
}
#prohrr1{
    border: 2px solid rgba(247, 162, 30, 1);
    border-radius: 33px;
    width:60% ;
}

#prohr2{
    border: 2px solid rgba(119, 51, 255, 1);
    border-radius: 33px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:40% ;
}
#prohrr2{
    border: 2px solid rgba(247, 162, 30, 1);
    border-radius: 33px;
    width:60% ;
}
.theProject{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pros{
    display: flex;
    justify-content: center;
}
#hud{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: rgba(119, 51, 255, 1);
    width: 35%;
    border-radius: 30px;
}
#stop{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: rgba(119, 51, 255, 1);
    width: 25%;
    border-radius: 30px;
}
#simple{
    padding: 14px;
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    background-color: rgba(119, 51, 255, 1);
    width: 55%;
    border-radius: 30px;
}
.imagePro{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    align-items: center;

}
.imagePro .img{
    width: 60%;
    height: auto;
}
.imagePro .img1{
    width: 60%;
    height: auto;
}
.img img{
    border-radius: 7%;
    width: 100%;
    width: 100%;
    position: relative;
    bottom:0 ;
}
.img1 img{
    border-radius: 7%;
    width: 100%;
    width: 100%;
    position: relative;
    bottom:0 ;
}
.imagePro .fa-2xs{
    display: none;
}
.imagePro .fa-sm{
    display: none;
}
.imagePro .fa-solid{
    border-radius: 10px;
    padding: 25px 10px 25px 10px;
    background-color: rgba(35, 39, 50, 1);
    box-shadow:inset -3px -3px 10px rgba(255, 255, 255, 0.1),inset 3px 3px 10px rgba(255, 255, 255, 0.1);
}
.click p{
    position: relative;
    top: 50px;
    color: rgba(119, 51, 255, 1);
    text-align: center;
    font-size: 1em;
    z-index: 2;
}
#toUp img{
    width: 75px;
    position: fixed;
    height: 85px;
    bottom: 60px;
    right: 50px;
}
@media screen and (max-width:1000px) {
    
    .click p{
        font-size: 0.8em;
    }
    .thp{
        font-size: 1.7em;
    }
    
    #certificate .thpFour{
        font-size: 1.7em;
    }
    #ht,#cs,#js,#ts{
        font-size: 0.9em;
        padding: 10px 0 10px 0;
        width: 20%;
    }
    #hud{
        padding: 10px 0 10px 0;
        font-size: 0.8em;
        width: 35%;
        border-radius: 20px;
    }
    #stop{
        padding: 10px 0 10px 0;
        font-size: 0.8em;
        width: 40%;
        border-radius: 20px;
    }
    #simple{
        padding: 10px 0 10px 0;
        font-size: 0.8em;
        width: 50%;
        border-radius: 20px;
    }
}
@media screen and (max-width:1157px) { 
    #head li{
        height: 50px;
        width: 18%;
    }   
    #head li a{
        font-size: 1em;
    }#toUp img{
        width: 60px;
        position: fixed;
        height: 70px;
        bottom: 50px;
        right: 50px;
    }
    #hud{
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        background-color: rgba(119, 51, 255, 1);
        width: 35%;
        border-radius: 25px;
    }
}
@media screen and (max-width:829px) { 
    #head li{
        height: 50px;
        width: 18%;
    }   
    #head li a{
        font-size: 0.9em;
    }.click p{
        font-size: 0.7em;
    }
    #toUp img{
        width: 58px;
        position: fixed;
        height: 68px;
        bottom: 38px;
        right: 30px;
    }
    #hud{
        color: #fff;
        padding: 10px 0 10px 0;
        font-size: 0.9em;
        font-weight: 600;
        background-color: rgba(119, 51, 255, 1);
        width: 35%;
        border-radius: 25px;
    }
     #stop{
        padding: 10px 0 10px 0;
        font-size: 0.9em;
        width: 35%;
    }
    #simple{
        color: #fff;
        padding: 10px 0 10px 0;
        font-size: 0.9em;
        font-weight: 600;
        background-color: rgba(119, 51, 255, 1);
        width: 55%;
        border-radius: 25px;
    }
}
@media screen and (max-width:768px) {    
    main{
        box-shadow: inset 12px 12px 15px rgba(0, 0, 0, 0.2),inset -5px -5px 10px rgba(255, 255, 255, 0.072);
    }
    .image .fa-solid{
        display: none;
    }
    
    .image .fa-2xs{
        display: flex;
        padding: 12px 7px 12px 7px;
        border-radius: 5px;
    }
    .image .fa-sm{
        display: none;
    }
    .thp{
        font-size: 1.3em;
    }
    
    #ht{
        text-align: center; 
        padding: 8px 0 8px 0;
        color: #fff;
        font-size: 0.7em;
    }
    #cs{
        text-align: center; 
        padding: 8px 0 8px 0;
        color: #fff;
        font-size: 0.7em;
    }
    #js{
        text-align: center; 
        padding: 8px 0 8px 0;
        color: #fff;
        font-size: 0.7em;
        width: 30%;
    }
    #ts{
        text-align: center; 
        padding: 8px 0 8px 0;
        color: #fff;
        font-size: 0.7em;
        width: 30%;
    }
    #ttext h2{
        font-size: 1.45em;
    }
    #ttext .p2{
        display: flex;
        font-size: 0.6em;
    }
    .p1{
        display: none;
    }
    nav ul{
        display: none;
    }
    ul li{
        margin-right: 0px;
        width: 50%;
        text-align: center;
        font-size: 0.75em;
        margin-right: 4%;
        height: 36px;
    }
    .li2{
        margin-left: 0;
    }
    
    #texts .li{
        margin-right: 10%;
        height: 35px;
        width: 30%;
    }
    #texts .li2{
        margin-right: 0;
    }
    #p3{
        font-size: 0.8em;
    }
    #p1{
        font-size: 1.7em;
    }
    #myText{
        font-size: 1.37em;
    }
    #p2{
        font-size: 2em;
    }
    .myprofile{
        height: 90%;
        width:90%;
    }
    .myprofile2{ 
        height: 100%;
        width: 92%;

    }
    nav{
        display: flex;
        justify-content: end;
    }
    #con{
        width: 60%;
        display: flex;
        z-index: 4;
        position: fixed;
        top: 0;
        justify-self: end;
        right: 0;
    }
    #menu{
        display: flex;
        justify-content: center;
        width: 30px;
        height:30px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px 40px 0 0;
        z-index: 5;
    }
    #cancelMenu{
        
        display: flex;
        justify-content: end;
        width: 30px;
        height:30px;
        margin: 40px 40px 0 0;
    }
    #cancelMenu img{
        width:100%;
        height: 100%;
        background-color: rgba(119, 51, 255, 1);
        border-radius: 50px;
        padding: 3px;
    }
    #menu img{
        width:100%;
        height: 100%;
        background-color: rgba(119, 51, 255, 1);
        border-radius: 50px;
        padding: 5px;
    }
    #menuShow{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.753);
    }
    #menuShow ul{
        margin-right: -10px;
    }
    #menuShow li{
        background: none;
        box-shadow: none;
        animation-name: i;
    }
    #menuShow li a{
        font-weight: 600;
        font-size: 1.6em;
        text-align: start;
    }
    .imagePro .fa-2xl{
        display: none;
    }
    .imagePro .fa-2xs{
        display: flex;
        display: flex;
        padding: 12px 7px 12px 7px;
        border-radius: 5px;
    }
    .imagePro .fa-sm{
        display: none;
    }
    #onehr{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #twohr{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #onehr1{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #twohr1{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #onehr2{ 
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #twohr2{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #hr3{
        width: 100%;
        display: flex;
    }
    #onehr3{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #onehr4{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #twohr4{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #hr4{
        width: 100%;
        display: flex;
    }
    #onehr5{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    .twohr5{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #onehr6{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #twohr6{
        border: 1px solid rgba(247, 162, 30, 1);
    }
    #prohr{
        border: 1px solid rgba(119, 51, 255, 1);
    }
    #prohrr{
        border: 1px solid rgba(247, 162, 30, 1);
    }#toUp img{
        width: 45px;
        position: fixed;
        height: 55px;
        bottom: 30px;
        right: 25px;
    }
    #hud{
        color: #fff;
        font-size: 0.7em;
        padding: 10px 0 10px 0;
        font-weight: 600;
        background-color: rgba(119, 51, 255, 1);
        width: 42%;
        border-radius: 25px;
    }
    #stop{
        padding: 10px 0 10px 0;
        font-size: 0.7em;
        width: 35%;
    }
    #simple{
        padding: 10px 0 10px 0;
        font-size: 0.7em;
        width: 60%;
    }
}
@media screen and (max-width:501px) {    
    main{
        box-shadow: inset 12px 12px 15px rgba(0, 0, 0, 0.2),inset -5px -5px 10px rgba(255, 255, 255, 0.072);
    }
    .image .fa-solid{
        display: none;
    }
    .image .fa-2xs{
        display: flex;
        padding: 12px 7px 12px 7px;
        border-radius: 5px;
    }
    .image .fa-sm{
        display: none;
    }
    .thp{
        font-size: 1.063em;
    }
    #certificate .thpFour{
        font-size: 1.063em;
    }
    #ht{
        text-align: center;
        padding: 7px 0 7px 0;
        color: #fff;
        font-size: 0.563em;
        width: 27%;
    }
    #cs{
        text-align: center;
        padding: 7px 0 7px 0;
        color: #fff;
        font-size: 0.563em;
        width: 27%;
    }
    #js{
        text-align: center;
        padding: 7px 0 7px 0;
        color: #fff;
        font-size: 0.563em;
        width: 50%;
    }
    #ts{
        text-align: center; 
        padding: 7px 0 7px 0;
        color: #fff;
        font-size: 0.563em;
        width: 50%;
    }
    #ttext h2{
        font-size: 1.063em;
    }
    #ttext .p2{
        display: flex;
        font-size: 0.5em;
    }
    .p1{
        display: none;
    }
    nav ul{
        display: none;
    }
    ul li{
        margin-right: 0px;
        width: 50%;
        text-align: center;
        font-size: 0.55em;
        margin-right: 4%;
        height: 36px;
    }
    .li2{
        margin-left: 0;
    }
    
    #texts .li{
        margin-right: 10%;
        height: 30px;
        width: 30%;
    }
    #texts .li2{
        margin-right: 0;
    }
    #p3,#p1{
        font-size: 0.62em;
    }
    #myText{
        font-size: 1em;
    }
    #p2{
        font-size: 1.37em;
    }
    .myprofile{
        height: 90%;
        width:90%;
    }
    nav{
        display: flex;
        justify-content: end;
    }
    #con{
        width: 60%;
        display: flex;
        z-index: 4;
        position: fixed;
        top: 0;
        justify-self: end;
        right: 0;
    }
    #menu{
        display: flex;
        justify-content: center;
        width: 30px;
        height:30px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 25px 25px 0 0;
        z-index: 5;
    }
    #cancelMenu{
        
        display: flex;
        justify-content: end;
        width: 30px;
        height:30px;
        margin: 25px 25px 0 0;
    }
    #cancelMenu img{
        width:100%;
        height: 100%;
        background-color: rgba(119, 51, 255, 1);
        border-radius: 50px;
        padding: 3px;
    }
    #menu img{
        width:100%;
        height: 100%;
        background-color: rgba(119, 51, 255, 1);
        border-radius: 50px;
        padding: 5px;
    }
    #menuShow{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.753);
    }
    #menuShow ul{
        margin-right: -10px;
    }
    #menuShow li{
        background: none;
        box-shadow: none;
        animation-name: i;
    }
    #menuShow li a{
        font-weight: 600;
        font-size: 1.5em;
        text-align: start;
    }
    .imagePro .fa-2xl{
        display: none;
    }
    .imagePro .fa-2xs{
        display: none;
    }
    .imagePro .fa-sm{
        display: flex;
        padding: 12px 7px 12px 7px;
        border-radius: 5px;
    }
    .click p{
        font-size: 0.6em;
    }
    #hud{
        padding: 7px 0 7px 0;
        font-size: 0.5em;
        width: 42%;
    }
    #stop{
        padding: 7px 0 7px 0;
        font-size: 0.5em;
        width: 35%;
    }
    #simple{
        padding: 7px 0 7px 0;
        font-size: 0.5em;
        width: 58%;
    }
    .myprofile{
        height: 90%;
        width:90%;
    }
    .myprofile2{ 
        height: 100%;
        width: 92%;

    }
    #toUp img{
        width: 40px;
        position: fixed;
        height: 50px;
        bottom: 20px;
        right: 15px;
    }
    
}